/* % 단위는 부모 요소의 속성값에 따라 상대적인 크기를 가집니다. 그래서 어떤 속성을 사용했는지에 따라 기준이 다르게 잡힙니다. */
/* 만약 다음과 같이 자식 요소의 font-size 속성값을 80%라고 지정했다면 자식 요소는 부모 요소 font-size 속성값의 80%에 해당하는 크기로 설정됩니다. */
.parent{
    font-size:16px;
}
.child{
    font-size:80%; /* 16px(부모 font-size 크기) * 0.8 = 12.8px */
}
.child-to-child{
    font-size:80%; /* 12.8px(부모 font-size 크기) * 0.8 = 10.24px */
}

